# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.project
.classpath
.log
*.class

# Package Files #
*.jar
*.war
*.ear
/target

# IDEA #
.idea
.idea/*
*.iml
src/Test
src/Test/*

# 防止泄露数据库密码 #
jdbc.properties
/src/main/resources/static_page/
