<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解模式-->
    <!--简化注解：
        1：自动注册DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter
        2：提供了一系列功能（数据绑定，数字和日期转换 @NumberFormat、@DateTimeFormat） xml和json的读写
    -->
    <mvc:annotation-driven/>


    <!--
        静态资源默认Servlet配置
        对静态资源请求的支持：图片，css，js
        允许使用"/"做整体映射
    -->
    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/rs/**" location="/WEB-INF/static/"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置自动扫描bean-->
    <context:component-scan base-package="com.zing"/>


</beans>